html,
body {
  padding: 20px;
  margin: 0px;
  font-family: "Lato", sans-serif;
}

.toolbar {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

img {
  max-width: 100%;
}

#openseadragon1 {
  height: 75vh;
  width: 75vw;
  margin: 20px auto;
}

#openseadragon1 .openseadragon-container {
  outline: none;
}

/** New style for the annotation outlines **/
svg.a9s-annotationlayer .a9s-selection.red .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation.red .a9s-inner {
  stroke: red;
}

svg.a9s-annotationlayer .a9s-selection.blue .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation.blue .a9s-inner {
  stroke: blue;
}
